.titleSim {
    display: block;
    overflow: hidden;
    padding: 5px 0 5px 5px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    background-image: url(https://cdn.tgdd.vn/sim-so-dep/Content/desktop/images/2020/box1.png);
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    min-height: 35px;
    line-height: 35px;
    color: #fff;
}